<ul>
  <% if plant["Duration"] %>
    <li class="text-dark"><strong><%= plant["Duration"] %></strong></li>
  <% end %>
  <% if plant["GrowthHabit"] %>
    <li class="text-dark">Growth Habit: <strong><%= plant["GrowthHabit"] %></strong></li>
  <% end %>
  <% if plant["MatureHeight"] %>
    <li class="text-dark">Height: <strong><%= plant["MatureHeight"] %> feet</strong></li>
  <% end %>
  <% unless plant.colors.empty? %>
    <li class="text-dark">Colors: <strong><%= plant.colors.join(', ') %></strong></li>
  <% end %>
  <% if ["Medium", "High"].include?(plant["DroughtTolerance"]) %>
    <li class="text-dark"><strong>Drought Tolerant</strong></li>
  <% end %>
</ul>
