<script src="/scripts/search_form.js" type="module"></script>
<div class="py-4 text-center">
  <p class="h2 text-dark">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 25 25">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>
    Search
  </p>
  <p class="lead mx-4">Search for plants using any number of filters.</p>
</div>
<form class="plant-search">
  <div class="container">
    <div class="row gy-4 mb-2">
      <div class="col-sm-6 col-12">
        <label for="CommonName">Common Name</label>
        <input type="text" name="CommonName" id="CommonName" class="form-control" placeholder="Yarrow" value="<%= params["CommonName"] %>" />
      </div>
      <div class="col-sm-6 col-12">
        <label for="ScientificName">Scientific Name</label>
        <input type="text" name="ScientificName" id="ScientificName" class="form-control" placeholder="Achillea millefolium" value="<%= params["ScientificName"] %>">
      </div>
    </div>
    <div class="row gy-4 my-1 filters">
    </div>
    <div class="row my-3">
      <div class="col">
        <!-- Default dropend button -->
        <div class="btn-group dropend">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Add a Filter
          </button>
          <ul class="dropdown-menu ">
            <li>
              <a class="dropdown-item add-checkbox-input" href="#" data-input-name="Growth Habit"
                data-options="Tree, Shrub, Forb/herb, Subshrub, Vine, Graminoid, Lichenous, Nonvascular"
              >Growth Habit</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Taxonomy &raquo;</a>
              <ul class="dropdown-menu dropdown-submenu">
                <li>
                  <a href="#" class="dropdown-item add-text-input" data-input-name="Class">Class</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-text-input" data-input-name="Order">Order</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-text-input" data-input-name="Family">Family</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-text-input" data-input-name="Genus">Genus</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-text-input" data-input-name="Species">Species</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item" href="#">Timing &raquo;</a>
              <ul class="dropdown-menu dropdown-submenu">
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="Duration"
                     data-options="Annual, Perennial, Biennial, Year Round">Duration</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="Active Growth Period"
                     data-options="Spring, Summer, Fall, Winter">Active Growth Period</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="Bloom Period"
                     data-options="Early Spring, Mid Spring, Late Spring, 
                     Spring, Early Summer, Mid Summer, Late Summer, Summer, Fall, Winter">
                    Bloom Period
                  </a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="Growth Rate"
                     data-options="Slow, Moderate, Rapid">Growth Rate</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="Lifespan"
                     data-options="Short, Moderate, Long">Lifespan</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item" href="#">Growth Requirements &raquo;</a>
              <ul class="dropdown-menu dropdown-submenu">
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="Drought Tolerance"
                     data-options="None, Low, Medium, High">Drought Tolerance</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="Shade Tolerance"
                     data-options="Intolerant, Intermediate, Tolerant">Shade Tolerance</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="Salinity Tolerance"
                     data-options="None, Low, Medium, High">Salinity Tolerance</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="Fire Resistance"
                     data-options="None, Low, Medium, High">Fire Resistance</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="Fertility Requirement"
                     data-options="None, Low, Medium, High">Fertility Requirement</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="Hedge Tolerance"
                     data-options="None, Low, Medium, High">Hedge Tolerance</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="Moisture Use"
                     data-options="None, Low, Medium, High">Moisture Use</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item" href="#">Colors &raquo;</a>
              <ul class="dropdown-menu dropdown-submenu">
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="Flower Color"
                     data-options="Yellow, Purple, Green, Red, Brown, White, Blue, Orange">Flower Color</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="Foliage Color"
                     data-options="Green, Dark Green, Gray-Green, Yellow-Green">Foliage Color</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="Fruit Color"
                     data-options="Yellow, Purple, Green, Red, Brown, White, Blue, Orange, Black">Fruit Color</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item" href="#">Reproduction &raquo;</a>
              <ul class="dropdown-menu dropdown-submenu">
              </ul>
            </li>
            <li>
              <a class="dropdown-item" href="#">Physical Traits &raquo;</a>
              <ul class="dropdown-menu dropdown-submenu">
              </ul>
            </li>
            <li>
              <a class="dropdown-item" href="#">Miscellaneous &raquo;</a>
              <ul class="dropdown-menu dropdown-submenu">
              </ul>
            </li>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-success">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 25 25">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
          Search
          <div class="spinner-border mx-2" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
      </div>
    </div>
  </div>
  <hr />
</div>
</form>
<div class="plants">
</div>
