<div class="d-flex align-items-center">
  <div class="p-5 container restrained-container bg-light">
    <form action="/logout" method="post">
      <button type="submit" class="btn btn-lg btn-outline-danger">Log out</button>
    </form>
  </div>
</div>
