<div class="d-flex align-items-center full-height">
  <div class="p-5 container restrained-container bg-light">
    <h1 class="display-6 text-primary">Sign Up</h1>
    <form action="/users" method="post" class="py-3">
      <div class="mb-3">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" class="form-control" value="<%= @username %>"/>
      </div>
      <div class="mb-3">
        <label for="password">Password</label>
        <p class="text-muted sub-info">Must contain at least 8 characters, a number, and uppercase letter</p>
        <input type="password" name="password" id="password" class="form-control" pattern="\S{8,}"  />
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    <a href="/login">Already have an account? Log in here.</a>
    <p class="text-muted fst-italic mt-2 mb-0">To experiment without signing up, use username 'admin' and password 'Password1234'</p>
  </div>
</div>
