<script src="/scripts/search_form.js"></script>
<form class="plant-search" action="<%= request.path %>" method="get">
  <input type="hidden" name="page" value="1">
  <div class="container">
    <div class="row gy-4 mb-2">
      <div class="col-sm-6 col-12">
        <label for="common_name">Common Name</label>
        <input type="text" name="common_name" id="common_name" class="form-control" placeholder="Yarrow" value="<%= params["common_name"] %>" />
      </div>
      <div class="col-sm-6 col-12">
        <label for="scientific_name">Scientific Name</label>
        <input type="text" name="scientific_name" id="scientific_name" class="form-control" placeholder="Achillea millefolium" value="<%= params["scientific_name"] %>">
      </div>
    </div>
    <div class="row gy-4 my-1 filters">
    </div>
    <div class="row my-3">
      <div class="col">
        <!-- Default dropend button -->
        <div class="btn-group dropend">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Add a Filter
          </button>
          <button type="reset" class="ms-2 btn btn-warning">Reset Filters</button>
          <ul class="dropdown-menu ">
            <li>
              <a class="dropdown-item" href="#">Taxonomy &raquo;</a>
              <ul class="dropdown-menu dropdown-submenu">
                <li>
                  <a href="#" class="dropdown-item add-text-input" data-input-name="class">Class</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-text-input" data-input-name="order">Order</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-text-input" data-input-name="family">Family</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-text-input" data-input-name="genus">Genus</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-text-input" data-input-name="species">Species</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item" href="#">Timing &raquo;</a>
              <ul class="dropdown-menu dropdown-submenu">
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="duration"
                     data-options="Annual, Perennial, Biennial, Year Round">Duration</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="active_growth_period"
                     data-options="Spring, Summer, Fall, Winter">Active Growth Period</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="bloom_period"
                     data-options="Early Spring, Mid Spring, Late Spring, 
                     Spring, Early Summer, Mid Summer, Late Summer, Summer, Fall, Winter">
                    Bloom Period
                  </a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="growth_rate"
                     data-options="Slow, Moderate, Rapid">Growth Rate</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="lifespan"
                     data-options="Short, Moderate, Long">Lifespan</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item" href="#">Growth Requirements &raquo;</a>
              <ul class="dropdown-menu dropdown-submenu">
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="drought_tolerance"
                     data-options="None, Low, Medium, High">Drought Tolerance</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="shade_tolerance"
                     data-options="Intolerant, Intermediate, Tolerant">Shade Tolerance</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="salinity_tolerance"
                     data-options="None, Low, Medium, High">Salinity Tolerance</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="fire_resistance"
                     data-options="None, Low, Medium, High">Fire Resistance</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="fertility_requirement"
                     data-options="None, Low, Medium, High">Fertility Requirement</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="hedge_tolerance"
                     data-options="None, Low, Medium, High">Hedge Tolerance</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="moisture_use"
                     data-options="None, Low, Medium, High">Moisture Use</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item" href="#">Colors &raquo;</a>
              <ul class="dropdown-menu dropdown-submenu">
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="flower_color"
                     data-options="Yellow, Purple, Green, Red, Brown, White, Blue, Orange">Flower Color</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="foliage_color"
                     data-options="Green, Dark Green, Gray-Green, Yellow-Green">Foliage Color</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="fruit_color"
                     data-options="Yellow, Purple, Green, Red, Brown, White, Blue, Orange, Black">Fruit Color</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item" href="#">Reproduction &raquo;</a>
              <ul class="dropdown-menu dropdown-submenu">
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="resprout_ability"
                     data-options="Yes, No">Resprout Ability</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item add-checkbox-input"
                     data-input-name="seed_spread_rate"
                     data-options="None, Slow, Moderate, Rapid">Seed Spread Rate</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item" href="#">Physical Traits &raquo;</a>
              <ul class="dropdown-menu dropdown-submenu">
                <li>
                  <a class="dropdown-item add-checkbox-input" href="#" data-input-name="growth_habit"
                data-options="Tree, Shrub, Forb/herb, Subshrub, Vine, Graminoid, Lichenous, Nonvascular"
              >Growth Habit</a>
                </li>
                <li>
                  <a class="dropdown-item add-checkbox-input" href="#" data-input-name="growth_form"
                data-options="Single Stem, Multiple Stem, Single Crown, Stoloniferous, Rhizomatous, Thicket Forming, Bunch"
              >Growth Form</a>
                </li>
                <li>
                  <a class="dropdown-item add-checkbox-input" href="#" data-input-name="foliage_texture"
                data-options="Fine, Medium, Coarse"
                  >Foliage Texture</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item" href="#">Miscellaneous &raquo;</a>
              <ul class="dropdown-menu dropdown-submenu">
                <li>
                  <a class="dropdown-item add-states-input" href="#" data-input-name="states"
                  >States</a>
                </li>
              </ul>
            </li>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-success">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 25 25">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
          Search
          <div class="spinner-border mx-2" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
      </div>
    </div>
  </div>
  <hr />
</div>
</form>
